{{#if item}}
    <div class="row">
        <div class="col">
            <img class="display" style="float:left" src="/img/{{ item.image}}" alt="">
        </div>
        <div class="col">
            <h2 class="">{{item.title}}</h2>
            <h3 class="">od {{item.seller.username}}</h3>
            <h4 class="">{{item.price}} zł</h4>
            <p class="">{{item.amount_ordered}}/{{item.amount_total}}</p>
            <p class="">{{item.description}}</p>
            {{!-- <div class="d-flex justify-content-between align-items-center"></div> --}}

            <form method="post" action="/auth/buy/{{item._id}}">
                <input type="number" min="1" max={{item.amount_total}} name="amount">
                {{!-- <input type="number" name="amount"> --}}
                <p>/{{item.amount_total}}</p>
                <button type="submit" class="btn btn-success">Dodaj do koszyka!</button>
            </form>
        </div>
    </div>
    

{{else}}
    <p>Nie ma takiego przedmiotu</p>
{{/if}}